body {
    background-color: #ffffff;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h1 {
    color: #5bcefa;
    font-family: courier, fixed, monospace;
    font-size: 35px;
    margin-left: 10em;
    text-decoration: none;
}

h2 {
    color: #5bcefa;
    font-family: courier, fixed, monospace;
    font-size: 21px;
    margin-left: 5em;
    text-decoration: none;
}